streamlit
fastapi
uvicorn[standard]
langchain-groq
llama-index
chromadb
pydantic
pillow
pytesseract
requests
python-dotenv
langchain_community
pymupdf
groq
# langchain_community
python-multipart
